/* .product-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 15px;
  }
   */
   .product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
  }
  
  .product-item {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
  }
  
  .product-item img {
    max-width: 100%;
    height: auto;
  }
  
  .product-item h3 {
    font-size: 16px;
    margin: 10px 0;
  }
  
  .product-item p {
    color: #b12704;
    font-size: 14px;
  }

  /* pagination */

  .pagination {
    display: flex;
    justify-content: center; 
    align-items: center;
    padding: 20px 0; 
  }
  
  .pagination button {
    margin: 0 5px;
    padding: 10px;
    border: none;
    border-radius: 3px;
    background-color: #f0f0f0;
    cursor: pointer;
  }
  
  .pagination button.active {
    background-color: #0073e6;
    color: white;
    &:hover{
        background-color: #ddd;
    }
  }

  .no-products-message {
    text-align: center;
    font-weight: bold;
    margin: 20px 0; /* Optional: Add some margin for spacing */
  }
  