.sidebar {
    padding: 15px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 13px;
  }
  
  .sidebar h5{
    margin-bottom: 10px;
  }
  
  .sidebar ul {
    list-style-type: none;
    padding: 0;
  }
  
  .sidebar li {
    margin-bottom: 8px;
  }
  
  .sub-category ul {
    padding-left: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="checkbox"] {
    margin-right: 8px;
  }
  
  .rating span {
    color: #ffa41c;
  }
  
  .prime {
    color: #00a8e1;
    font-weight: bold;
  }
   