 .App {
    display: flex;
    flex-direction: column;
  }
  
  .main-content {
    display: flex;
    margin-top: 50px;
  }
  

  .content {
    flex: 1;
    padding: 20px;
    background-color: #f8f8f8;
  }


  .header {
    flex-shrink: 0;
  }
